.PlanScreenPlan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.PlanScreenPlan:hover{
    opacity: 1;
}

.PlanScreenPlan button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}